.App {
    text-align: center;
}

.center, .center-column, .center-row, .top, .right, .bottom, .left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.single-spaced, .single-spaced * {
    line-height: 1;
}

.main{
    height: 100%;
    margin: 1rem;
}

.welcome-container{
    border: 1px solid #633636;
    border-radius:5px;
    padding: 1rem;
    min-height: 10vh;
    min-width: 25rem;
    max-width: 95%;
    box-shadow:  5px 5px 30px 2px rgba(52, 9, 1, 0.35);
    background-color: #212121;
    margin: auto auto 2rem;
}

.footer-container{
    padding: 1rem;
}

.link-container{
    border: 1px solid #261515;
    border-radius:5px;
    padding: 0.5rem;
    box-shadow: 1px 1px 10px 1px rgba(52, 9, 1, 0.35);
    background-color: #212121;
    margin: 0.5rem;
}

.link-container:hover{
    text-shadow: 3px 3px #430000;
    box-shadow: 1px 1px 10px 1px #471b1b;
}

.padding-2{
    padding: 2rem
}

.res-padding-2{
    padding: 2rem
}

.padding-1{
    padding: 1rem
}

.res-padding-1{
    padding: 1rem
}

.logo-image{
   height: 1.5rem;
}

.plogo-image{
    min-height: 2rem;
    max-height: 3rem;
}

.JRlogo-image{
    height: 2.5rem;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.is-fullh{
    min-height: 100vh;
}

.hide-overflow{
    overflow: hidden;
}

.stretch-items{
    align-items: stretch;
}

.fa {
    color: #c65353;
}

hr.dashed {
    border-top: 3px dashed #bbb;
}

@media only screen and (min-width: 769px) {
    /* For desktop: */
    .right-desktop  { justify-content: flex-end;   }
    .left-desktop   { justify-content: flex-start; }

    .mobile-only{
        display: none;
    }
}

@media (max-width: 768px) {
    .desktop {
        display: none;
    }

    .center-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .res-padding-1{
        padding: 0.5rem
    }

    .res-padding-2{
        padding: 1rem
    }

    .mobile-center-column{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .welcome-container{
        padding: 0.5rem;
        min-height: 10vh;
        min-width: 10rem;
    }

    .info-container{
        padding: 0.5rem;
        min-height: 20vh;
        min-width: 10rem;
    }

    .link-container{
        padding: 0.5rem;
    }
}