
@font-face {
    font-family: Bungee-Regular;
    src: url('../fonts/Bungee-Regular.ttf');
}

@font-face {
    font-family: Bungee-Shade-Regular;
    src: url('../fonts/BungeeShade-Regular.ttf');
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Lalezar-Regular;
    src: url('../fonts/Lalezar-Regular.ttf');
}

@font-face {
    font-family: VT323-Regular;
    src: url('../fonts/VT323-Regular.ttf');
}

@font-face {
    font-family: NunitoSans-Light-Italic;
    src: url('../fonts/NunitoSans-LightItalic.ttf');
}

@font-face {
    font-family: Rubik-Medium;
    src: url('../fonts/Rubik-Medium.ttf');
}

@font-face {
    font-family: IBMPlexSans-Regular;
    src: url('../fonts/IBMPlexSans-Regular.ttf');
}

@font-face {
    font-family: OpenSans-Regular;
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: Roboto-Light;
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: Poppins-Thin;
    src: url('../fonts/Poppins-Thin.ttf');
}

@font-face {
    font-family: AmaticSC-Regular;
    src: url('../fonts/AmaticSC-Regular.ttf');
}

@font-face {
    font-family: BalooDa2-Regular;
    src: url('../fonts/BalooDa2-Regular.ttf');
}

@font-face {
    font-family: BenchNine-Light;
    src: url('../fonts/BenchNine-Light.ttf');
}

.contact-text{
    font-size: 20px;
}

.contact-text:hover{
    text-shadow: 2px 2px #c65353;
}

.welcome-text{
    font-size: 38px;
    font-family: 'Bungee-Regular', sans-serif;
    color: #c65353;
    text-shadow: 4px 4px #6d2a2a;
}

.info-text{
    font-size: 28px;
    font-family: 'Lalezar-Regular', sans-serif;
    color: #b59784
}

.para-text{
    font-size: 22px;
    font-family: 'Lalezar-Regular', sans-serif;
    color: #b59784
}

.logo-text{
    font-size: 14px;
}

.link-text{
    font-family: 'Lalezar-Regular', sans-serif;
    font-size: 32px;
    color: #c65353;
}

.tiny-text{
    font-size: 10px;
    margin: auto
}

@media (max-width: 768px) {
    .contact-text{
        font-size: 20px;
    }

    .welcome-text{
        font-size: 13px;
        text-shadow: 2px 2px #6d2a2a;
    }

    .info-text{
        font-size: 12px;
    }

    .para-text{
        font-size: 10px;
    }

    .logo-text{
        font-size: 14px;
    }

    .link-text{
        font-size: 16px;
    }

    .tiny-text{
        font-size: 10px;
    }
}